<html>
Reuben!
<body>
  <form action="http://localhost:9393/" method="post">
    Text to be rube'ified: <input type="text" name="text" /><br />
    <input type="submit" value="Submit" />
  </form>
</html>
